# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environment
.env
venv/
.venv/
.venv\
.venv

# VS Code
.vscode/

# PyCharm
.idea/

# OS
.DS_Store
Thumbs.db

# Migrations or compiled stuff
*.log
*.sqlite3
